<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="filePusher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <filePusher.Properties.Settings>
            <setting name="originPath" serializeAs="String">
                <value>C:\Users\lasag\source\repos\filePusher\filePusher\bin\originPath\</value>
            </setting>
            <setting name="destPath" serializeAs="String">
                <value>C:\Users\lasag\source\repos\filePusher\filePusher\bin\destPath\</value>
            </setting>
        </filePusher.Properties.Settings>
    </userSettings>
</configuration>